nav img {
	border-radius: 75%;
	margin-top: 40px;
	padding-left: 5px;
}

span {
	top: 26px;
	position: relative;
	margin-top: 40px;
	padding-left: 20px;
	font-size: 35px;
}

.nav img, .nav span {
	padding-left: 50px;
	position: relative;
	float: left;
	display: inline-block;
	padding-left: 25px;
	margin-left: 26px;
}

nav img {
	margin-left: 34px;
	padding-left: 0;
}

.btn-group {
	float: right;
	margin-top: -33px;

}

h4 {
	font-size: 20px;
}

.fields2 input {
	width: 35%;
}

input .button {
	width: 10%;
}


.column1 {
	margin-top: 50px;
	padding-left: 40px;
	margin-bottom: -147px;
}

.b1title {
	margin-bottom: -80px;
}



#f2title {
	margin-top: 40px;
}

.field1 input  {
	padding: 10px;
	border-radius: 10px;
}

.fields2 input {
	padding: 10px;
	border-radius: 10px;
}

.box1 td {
	padding-left: 10px;
}

#shippingbox td #shippingbox input {
	margin-left: 0;
}

.box2 {
	border: solid 1px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    margin-top: -500px;
    width: 400px;
    height: 130px;
}

.box2 ul {
	margin-left: -35px;
}

.box1 {
	height: 30px;

}

.aoption {
	padding-bottom: 25px;
}



.column2 {
	float: right;
	padding-top: -700px;
	padding-right: 75px;
}

.box1 {
	border: solid;
	border-radius: 10px;
	width: 500px;
	height: 100px;
	margin-top: 100px;

}

.column2 {
	clear: both;
}

#b2title {
	position: relative;
	top: -500px;

}

.box2 {
	border: solid;
	border-radius: 10px;
	list-style: none;
	position: relative;
	margin-top: -500px;
	width: 450px;
	height: 123px;
}

.box3 {
	margin-top: 1px;
    border-style: solid;
    height: 163px;
    border-radius: 10px;
}

.box3 img {
	border-radius: 10px;
}

.list1 ul {
	list-style: none;
}

.list2 ul {
	list-style: none;
}

.b3button button {
	border-radius: 10px;
    background-color: #32A468;
    padding: 10px;
    float: right;
    margin-right: 85px;
    margin-top: 20px;
    width: 450px;
    color: white;
}

.box3 button {
	padding-left: 26px;
	margin-top: 129px;
    margin-right: 10px;
}

.list1 {
	list-style: none;
	float: left;
	margin-left: -27px;
}

.list2 {
	list-style: none;
	float: right;
	margin-right: 154px;
}

#b3button {
	width: 500px;
}   

.poptions {
	list-style: none;
	border-bottom: solid 1px;
	background-color: white;
	padding-left: -10px;

} 

.aoption {
	background-color: #FAFCFB;
	list-style: none;
	padding-top: 25px;
}

.simage {
	float: left;
	margin-top: -34px;
	margin-left: -30px;

}

#background,
#sbackground {
	border-top: solid 1px;
}


@media (max-width: 1125px) {
	.column2 {
		float: none;
	}
}

@media (max-width: 320px) {
	#b2title {
		margin-top: 224%;
	}
}

@media (max-width: 320px) {
	.box2 {
		width: 131%;
    	height: 85%;
	}
}

@media (max-width: 320px) {
	.simage {
		visibility: hidden;

	}
}

@media (max-width: 320px) {
	.list1 {
		margin-left: -27%;

	}
}

@media (max-width: 320px) {
	.list2 {
		margin-left: 2%;
	}
}

@media (max-width: 320px) {
	.box3 {
		width: 130%;
	}
}

@media (max-width: 320px) {
	.b3button button {
		float: none;
    	width: 130%;

	}
}

@media (max-width: 445px) {
	nav {
		visibility: hidden;
	}
}

@media (max-width: 495px) {
	.column1 {
		margin-top: -31%;
    	margin-left: -11%;
	}
}

@media (max-width: 498px) {
	.field1 input {
		width: 87%;
	}
}

@media (max-width: 506px) {
	.fields2 input {
		width: 87%;
	}
}

@media (max-width: 553px) {
	.box1 {
		    width: 97%;
	}
}
